aerich==0.5.8
aiofiles==0.5.0
aiosqlite==0.17.0
aniso8601==7.0.0
argh==0.26.2
async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.24.0
asynctest==0.13.0
attrs==21.2.0
bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
cfgv==3.3.1
charset-normalizer==2.0.4
click==7.1.2
ddlparse==1.10.0
Deprecated==1.2.12
dictdiffer==0.9.0
distlib==0.3.4
dnspython==2.1.0
dramatiq==1.11.0
email-validator==1.1.3
fastapi==0.68.1
fastapi-users==9.2.5
fastapi-users-db-tortoise==1.1.1
filelock==3.4.2
gevent==21.8.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.1
h11==0.12.0
httptools==0.1.2
identify==2.4.6
idna==3.2
iniconfig==1.1.1
iso8601==0.1.16
itsdangerous==1.1.0
Jinja2==2.11.3
makefun==1.11.3
MarkupSafe==2.0.1
nodeenv==1.6.0
orjson==3.6.3
packaging==21.0
passlib==1.7.4
pathtools==0.1.2
pika==1.2.0
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.17.0
prometheus-client==0.11.0
promise==2.3
py==1.10.0
pycparser==2.20
pydantic==1.8.2
PyJWT==2.3.0
pyparsing==2.4.7
pypika-tortoise==0.1.1
pytest==6.2.5
python-dotenv==0.19.0
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
Rx==1.6.1
six==1.16.0
starlette==0.14.2
toml==0.10.2
tortoise-orm==0.17.7
typing-extensions==3.10.0.2
ujson==4.1.0
urllib3==1.26.6
uvicorn==0.13.4
uvloop==0.16.0
virtualenv==20.13.0
watchdog==0.8.3
watchdog-gevent==0.1.0
watchgod==0.7
websockets==8.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
